@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&family=Ubuntu:wght@300;400;500;700&family=Zilla+Slab:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');

*{
    font-family: "Raleway", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --colorPrincipal : #ffffff;
    --colorFondo : #2F3645;
    --colorOscuroTransparente : #2f3645b3;
    --colorOscuroTransparente2 : #767a81de;
    --colorSombraGris : #808080;
    --colorSombraNegra : #000000;
    --colorTextoMonitorLogo : #00FF00;
}
p{
    color: var(--colorFondo);
}
/*comunes*/
header, .fondoAzul, .contenedor-historia, .seccion-video, .juego{
    display: flex;
    justify-content: center;
}
nav, .tarjeta-historia, .tarjeta-historia-texto, #tarj1, #tarj2, .div-controles, .caja, #div-superior, header, .fondoAzul, .contenedor-historia, .seccion-video, .juego{
    display: flex;
    align-items: center;
}
nav, footer, footer>div, #tarj1, #tarj2, .tarjeta-historia-texto, .div-controles, #div-superior{
    display: flex;
    justify-content: space-between;
}
.contenedor-historia, .tarjeta-historia-texto, .seccion-video, .juego, #tarj1, #tarj2{
    display: flex;
    flex-direction: column;
}
.cajas, #div-superior{
    display: flex;
    flex-direction: row;
}
/*------------------------Menu de navegacion------------------------*/
nav{
    z-index: 999;
    position: fixed; 
    top: 0;
    width: 100%;
    padding: 10px 40px;
    transition: background-color 1s;
}
nav>ul{
    display: flex;
    width: 300px;
    justify-content: space-around;
}
nav>ul>li{
    list-style-type: none;
}
nav>ul>li>a{
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: 500;
    color: var(--colorPrincipal);
    text-shadow: 1px 1px var(--colorSombraGris), 2px 3px var(--colorSombraNegra);
}
nav>ul>li:hover{
    transform: translate(3px, 2px);
}
nav>ul>li:hover > a{
    text-shadow: 0.5px 0.5px var(--colorOscuroTransparente2);
}
.cambiaFondoNav{
    background-color: var(--colorPrincipal);
}
.cambiaFondoNav>ul>li>a{
    color: var(--colorFondo);
    text-shadow: 1px 1px var(--colorPrincipal), 2px 3px var(--colorFondo);
}
/*------------------------ fin de menu de navegacion------------------------*/
main{
    padding: 100px 20px;
    perspective: 800px;
}
h1{
    font-weight: 400;
    font-size: 4rem;
    color: var(--colorPrincipal);
    text-shadow: 2px 2px var(--colorSombraGris), 6px 6px var(--colorSombraNegra);
}
h2{
    text-shadow: 1px 1px var(--colorPrincipal), 2px 2px var(--colorSombraGris);
    font-size: 3rem;
    font-weight: 500;
    color: var(--colorFondo);
}
h1, h2, .descripcion-tarjeta, .boton-tarjeta, .titulo-footer, .caja{
    text-align: center;
}
span{
    font-weight: 600;
}

/*------------------------footer------------------------*/
footer{
    background: var(--colorFondo);
    align-items: center;
    padding: 90px;
}
footer>div{
    width: 300px;
    height: 60px;
}
footer>div>img{
    height: 80px;
}
.titulo-footer, footer>p{
    font-size: 1rem;
    color: var(--colorPrincipal);
}
/*------------------------fin footer------------------------*/

/*------------------------pagina index------------------------*/
header{
    background-image: url("./assets/imagenes/fondo.jpg");
    height: 100vh;
    background-size: cover;
    background-attachment: fixed;
    flex-direction: column;
}
.contenedor{
    margin: 100px 0px;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    gap: 20px;
}
#tarj1, #tarj2{
    width: 450px;
    height: 500px;
    gap: 40px;
    background-color: var(--colorPrincipal);
    transform: translate(-50000px);
}
.descripcion-tarjeta{
    width: 90%;
    height: 30px;
    color:var(--colorFondo);
}
.img-tarjeta{
    width: 100%;
    margin: 0;
}
.boton-tarjeta{
    padding: 10px;
    background-color: var(--colorFondo);
    text-transform: uppercase;
    text-decoration: none;
    width: 80%;
    margin-bottom: 20px;
    color: var(--colorPrincipal);
}
.boton-tarjeta:active{
    box-shadow: 0px 0px var(--colorFondo);
    transform: translate(3px, 2px);
}
@keyframes desdeDerecha{
    from{
        transform: translateX(500px);
        opacity: 0;
    }
    to{
        transform: translate(0);
    }
}
@keyframes desdeIzquierda{
    from{
        transform: translateX(-500px);
        opacity: 0;
    }
    to{
        transform: translate(0);
    }
}

/*-------------------pagina historia/*-------------------*/
#header2{
    background-image: url("./assets/imagenes/historia-programacion.jpg");
    position: relative;
    height: 70vh;
}
.fondoAzul{
    background: var(--colorOscuroTransparente);
    height: 100%;
    width: 100%;
}
.contenedor-historia{
    padding-top: 80px;
    perspective: 1000px;
}
.tarjeta-historia{
    display: flex;
    justify-content: space-around;
    padding: 80px 50px;
    gap: 20px;
    perspective: 800px;
    perspective-origin: top;
}
.tarjeta-historia-texto{
    width: 80%;
    gap: 40px;
    visibility: hidden;
}
.tarjeta-historia>img{
    width: 50%;
    visibility: hidden;
}
#div-primeros-lenguajes{
    width: 90%;
}
.tarjeta1-texto{
    animation: tarjeta-historia1-texto 1.5s ease-out forwards;
}
.tarjeta1-img{
    animation: tarjeta-historia1-imagen 1.5s ease-out forwards;
}
.tarjeta2-texto{
    animation: tarjeta-historia2-texto 1.5s ease-out forwards;
}
.tarjeta2-img{
    animation: tarjeta-historia2-imagen 1.5s ease-out forwards;
}
/*   Animaciones div parrafo 1 */
@keyframes tarjeta-historia1-texto {
    from{
        transform: translateZ(-500px) translateX(500px) rotateY(-45deg);
        visibility: visible;
    }
    to{
        transform: translateZ(0px);
        visibility: visible;
    }
}
@keyframes tarjeta-historia1-imagen {
    from{
        transform: translateZ(500px) translateX(-500px) rotateY(-45deg);
        visibility: visible;
    }
    to{
        transform: translateZ(0px);
        visibility: visible;
    }
}
/*   Animaciones div parrafo 2 */
@keyframes tarjeta-historia2-texto {
    from{
        transform: translateZ(-500px) translateX(-500px) rotateY(45deg);
        visibility: visible;
    }
    to{
        transform: translateZ(0px);
        visibility: visible;
    }
}
@keyframes tarjeta-historia2-imagen {
    from{
         transform: translateZ(500px) translateX(500px); 
        visibility: visible;
    }
    to{
        transform: translateZ(0px);
        visibility: visible;
    }
}
.seccion-video{
    padding: 100px 0px;
    gap: 80px;
}
.contenedor-video{
    width: 70%;
    padding: 5px;
    background-color: var(--colorFondo);
}
video{
    width: 100%;
}
.botones-video{
    width: 80px;
    box-shadow: 2px 2px var(--colorSombraGris);
    padding: 10px 15px;
    background-color: var(--colorPrincipal);
    color: var(--colorFondo);
    font-weight: 300;
    border: 1px solid var(--colorFondo);
}
.botones-video:active{
    transform: translate(2px, 2px);
    box-shadow: 0px 0px var(--colorSombraGris);
}
.div-controles{
    background-color: var(--colorFondo);
    border-radius: 10px;
    padding: 20px 5px;
}
.div-controles>div{
    display: flex;
    gap: 20px;
}
#tiempo-video{
    color:var(--colorPrincipal);
}

/*-------------------pagina juguemos/*-------------------*/
#header3{
    background-image: url("./assets/imagenes/img2.jpg");
    position: relative;
    height: 70vh;
}
.espacio-titulo{
    padding: 10px 40px;
    transition: color 3s ;
}
.cajas{
    transition: opacity 1s;
    gap: 20px;
    transform: scale(1);
    transition: gap 3s ease-in-out, transform 3s ease;
}
.caja > p{
    color: var(--colorPrincipal);
}
.caja{
    width: 200px;
    height: 350px;
    display: flex;
    border: 2px solid var(--colorSombraNegra);
    background-color: var(--colorSombraGris);
    justify-content: center;
}
.caja:hover{
    background-color: var(--colorFondo);
}
.caja:hover > p{
    color : var(--colorPrincipal);
}
#div-superior>#imagen1{
    transform: rotate(8deg);
}
#div-superior>#imagen2{
    transform: rotate(-10deg);
}
#div-inferior{
    height: 200px;
}
#div-inferior>#imagen3{
    transform: rotate(93deg);
}
#div-superior{
    gap: 40px;
    flex-wrap: wrap;
    height: fit-content;
}
#imagen1, #imagen2, #imagen3{
    width: 200px;
    height: 350px;
}
#imagen1{
    align-self: flex-start;
}
#imagen2{
    align-self: flex-end;
}
.boton-reinicio{
    display: flex;
    margin: auto;
    padding: 10px 100px;
    background-color: var(--colorFondo);
    box-shadow: 2px 2px var(--colorSombraGris);
    color: var(--colorPrincipal);
    font-weight: 300;
    border: none;
    text-transform: uppercase;
}
.boton-reinicio:active{
    transform: translate(2px, 2px);
    box-shadow: 0px 0px var(--colorOscuroTransparente2);
}

/*** Logo ***/
.compu1 {
    animation: efecto1 ease-in 5s;
    animation-iteration-count: 1;
}
.compu2 {
    animation: efecto2 ease-in 5s;
    animation-iteration-count: 1;
}
.texto-monitor{
    animation: texto 2s 2s forwards;
}
@keyframes efecto1 {
    0%, 20%{
        transform: translate(0, -10px);
        opacity: 0;
    }
    30%, 90%, 100%{
        transform: translate(0, 0px);
        opacity: 1;
    }
}
@keyframes efecto2 {
    0%,30%{
        transform: translate(0, -10px);
        opacity: 0;
    }
    40%, 90%, 100%{
        transform: translate(0, 0px);
        opacity: 1;
    }
}
@keyframes texto {
    from{
        stroke: transparent;
    }
    to{
        stroke: var(--colorTextoMonitorLogo);
    }
}

/* animacion del juego rompecabezas*/
@keyframes resultado {
    50%{
        transform: translateY(300px) translateZ(300px);
    }
    100%{
        transform: translateY(300px) translateZ(0px);
    }
}